@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");

* { box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", arial;
  text-align: center;
  background: url("https://cdn.glitch.com/87f98450-d7fb-4f3a-9473-d80eb07e9f3a%2Fstripes-light.png?1556746131087");
}

h1, h2 {
  font-family: "Abril Fatface";
  margin: 90px;
}

.col {
  padding: 10px;
}

.card .card-image .card-title {
  color: black;
}

.card-title {
  background-color: rgba(255,255,255,0.7);
}

.card-content {
  font-size: 1.2em;
  font-weight: 200;
  line-height: 35px;
  letter-spacing: 1px;
}

footer {
  margin-top: 100px;
  font-weight: 200;
}